{
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "javascript",
                    "css",
                    "scss",
                    "typescript"
                ],
                "theme": "twilight",
                "css": true
            }
        ]
    ]
}