@tailwind base;
@tailwind components;
@tailwind utilities;

.text-overline {
  @apply text-small uppercase;
}

::selection {
  @apply text-white;
  background-color: rgba(0, 0, 0, 0.95);
}

p {
  @apply leading-normal;
}

[tooltip] {
  display: inline;
  position: relative;
}

[tooltip]:hover::after {
  content: attr(tooltip);
  @apply absolute bottom-5 left-1/2 z-40 w-max max-w-[30ch] -translate-x-1/2 rounded bg-text px-4 py-2 text-white;
}

img {
  @apply select-none;
}